<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41930275510-sruh78shq06amijddcfibonsuk7tsosk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41930275510-sruh78shq06amijddcfibonsuk7tsosk</string>
	<key>API_KEY</key>
	<string>AIzaSyDVjjkJMeAd0QXuQ9BXShwRuvfQPVTE4o0</string>
	<key>GCM_SENDER_ID</key>
	<string>41930275510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raghusairam.tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-82987</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-82987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41930275510:ios:b9b16835470c2dd7</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-82987.firebaseio.com</string>
</dict>
</plist>